body {
  font:
    16px Oswald,
    Arial,
    sans-serif;
}
h1 {
  font-size: 2em;
}
h2 {
  font-size: 1.5em;
}
h3 {
  font-size: 1.2em;
}
article {
  display: flex;
}
.card {
  flex-grow: 1;
}
.img-container {
  aspect-ratio: 16/9;
  overflow: hidden;
}
.img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.population p,
.ecology p {
  text-align: justify;
  font-size: 0.8em;
}
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  background-color: black;
  color: aliceblue;
}
footer img {
  width: 4em;
  height: 4em;
}
