:root {
  --max-width: 1920px;
}
body {
  font:
    16px Oswald,
    Arial,
    sans-serif;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
}
body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("./assets/rain-forest-seamless.jpg");
  background-repeat: repeat;
  /* opacity: 0.5; */
  /* filter: saturate(50%); */
  z-index: -1;
}
main {
  max-width: var(--max-width);
  margin: 0 auto;
}
h1 {
  font-size: 2.5rem;
}
article {
  display: flex;
}
.grid-container {
  width: 100%;
  container-type: inline-size;
  container-name: grid-container;
}
.card-grid {
  /* this sets the unit of em based on the container width */
  font-size: 6cqw;
  display: grid;
  /* maintain aspect ratio of 16:9, 9/16 = 0.5625, so set height to 56cqw */
  grid-template-rows: 4rem 56cqw 13em 21em 16em;
}
.card-grid header {
  margin-bottom: 0.5rem;
}
.card-grid h2 {
  font-size: 1.5em;
}
.card-grid h3 {
  font-size: 1.2em;
}
.card-grid section {
  margin-bottom: 1em;
}
.img-container {
  aspect-ratio: 16/9;
  overflow: hidden;
}
.img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card-header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #b6d8b9;
}
.card-grid p {
  font-size: 1em;
  text-align: justify;
  line-height: 1.2;
  margin: 0;
}
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  background-color: black;
}
footer img {
  width: 4rem;
  height: 4rem;
}
@media only screen and (max-width: 767px) {
  /* styles for screens with a width less than 768 pixels */
  .card-grid {
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}
