body {
  font:
    16px Oswald,
    Arial,
    sans-serif;
}
h1 {
  font-size: 2em;
}
h2 {
  font-size: 1.5em;
}
h3 {
  font-size: 1.2em;
}
article {
  display: flex;
}
.card-grid {
  display: grid;
  grid-template-rows: 1fr 2.8fr 1.7fr 3.4fr 3fr;
}
.card-grid header {
  margin-bottom: 0.5rem;
}
.img-container {
  aspect-ratio: 16/9;
  overflow: hidden;
}
.img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card-header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #b6d8b9;
}
.card-grid p {
  text-align: justify;
  font-size: 0.8rem;
}
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  background-color: black;
}
footer img {
  width: 4rem;
  height: 4rem;
}

@media only screen and (max-width: 767px) {
  /* styles for screens with a width less than 768 pixels */
  .card-grid {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}
